@{
    ViewData["Title"] = "Moderate";
}
<h1>Moderate</h1>

<style>
    #imageStreamContainer .img img {
        width: 200px;
        height: 200px
    }
</style>

<div id="imageStreamContainer">
    <div class="img">
        <img src="https://pbs.twimg.com/media/D8e7vBgWsAI0uns.jpg" />
    </div>
</div>
