@{
    ViewData["Title"] = "Moderate";
}
<h1>Moderate</h1>

<style>
    #imageStream img {
        width: 200px;
        height: 200px;
        margin: 6px;
    }
</style>

<div id="imageStream">
</div>



@section Scripts {


    <script>
    $(function() {
        UpdateImages();
    });
    function UpdateImages() {
        $.get( "/api/map", function( data ) {
            for (i=0; i<data.length; i++) {
                $("#imageStream").prepend($('<img>',{id:'img_'+data[i].TweetId,src:data[i].img}));
            }
        });
    }
    </script>
}