@model BasePageModel
@{
    ViewData["Title"] = "Moderate";
}
<h1>Moderate</h1>
<div style="float: right;">
    <button class="btn btn-primary" type="button" onclick="ShowNew()">
        Add Tweet Manually
    </button>
</div>
<span id="LastRefresh"></span>

<style>
    #imageStream div {
        display: inline-block;
        height: 240px
    }

    #imageStream img {
        display: block;
        width: 200px;
        height: 200px;
        margin: 6px;
        cursor: pointer;
        object-fit: contain;
    }

        #imageStream img.hide_true {
            opacity: 0.25;
            filter: alpha(opacity=50);
        }

    .modal-body {
        max-height: 300px;
        overflow-y: scroll;
    }

    #imageStream .created {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #HelpNotes {
    }
</style>

<div id="imageStream">
</div>

<hr />

<div id="HelpNotes">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Help
    </button>
    <div class="collapse" id="collapseExample">
        <div class="well">
            This page allows control over which Tweets are shown on the map.
            <ul>
                <li>Click on image to edit</li>
                <li>Tweets that are hidden form the map will appear faded</li>
                <li>Changing the "Area" for a Tweet will also change the Geo coordinates</li>
                <li>You can also set the Geo coords yourself (Search the location and then copy and paste the "Lat,Long" from <a href="https://www.gps-coordinates.net/" target="_blank">here</a>)</li>
            </ul>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Moderate Tweet</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="form-group">
                        <label for="hide">
                            Hide from Map?
                            <input type="checkbox" name="Hide" id="Hide">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Area">Area</label>
                        <select id="Area" class="form-control" onchange="SetGeo(this)" required>
                            <option geo="0,0"></option>
                            <option geo="57.5066357,-5.0038367">Highland</option>
                            <option geo="58.1222438,-6.6471177">Na h-Eileanan Siar</option>
                            <option geo="58.9418231,-3.1296944">Orkney Islands</option>
                            <option geo="57.166667,-2.666667">Aberdeenshire</option>
                            <option geo="57.1557905,-2.146624">Aberdeen City</option>
                            <option geo="56.5,-3.75">Perth and Kinross</option>
                            <option geo="56.1181242,-3.9360012">Stirling</option>
                            <option geo="56.3333331,-3.0000001">Fife</option>
                            <option geo="55.8555116,-4.2262307">Glasgow City</option>
                            <option geo="55.9117426,-3.277097">City of Edinburgh</option>
                            <option geo="55.583333,-2.833333">Scottish Borders</option>
                            <option geo="55.299818,-4.6459884">South Ayrshire</option>
                            <option geo="55.083333,-3.833333">Dumfries and Galloway</option>
                        </select>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="TweetUrl">TweetUrl</label>
                        <input id="TweetUrl" type="text" class="form-control" disabled required />
                    </div>
                    <div class="form-group">
                        <label for="Geo">Geo</label>
                        <input id="Geo" type="text" class="form-control" required />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="Img">Img</label>
                        <input id="Img" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="TweetId">TweetId</label>
                        <input id="TweetId" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input id="Id" type="text" class="form-control" disabled />
                    </div>


                    <div class="form-group">
                        <label for="Text">Text</label>
                        <input id="Text" type="text" class="form-control" disabled />
                    </div>

                    <div class="form-group">
                        <label for="CreatedDate">CreatedDate</label>
                        <input id="CreatedDate" type="text" class="form-control" disabled />
                    </div>

                    <div class="form-group">
                        <label for="TwitterHandle">TwitterHandle</label>
                        <input id="TwitterHandle" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="LocationConfidence">LocationConfidence</label>
                        <input id="LocationConfidence" type="text" class="form-control" disabled />
                    </div>
                </form>
                <span id="editLoader" style="display: none;">Loading...</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveChanges">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {

    <script src="~/lib/mustache/mustache.min.js"></script>
    <script id="previewTemplate" type="x-tmpl-mustache">
        <div>
            <img data-editclick="true" class="hide_{{ hide }}" id="{{ id }}" src="{{ img }}">
            <span class="created">{{ createdDateDisplay }}</span>
        </div>
    </script>

    <script>
    $(function () {
        UpdateImages();
        var timerId = setInterval(UpdateImages, 30 * 1000); //load new tweets every x seconds
    });

    function ShowNew() {
        $("#editLoader").hide();
        $("#editForm").show();

        $('#editModal').modal('show');
        $('#TweetId').val('');
        $('#Id').val('');
        $('#Img').val('');
        $('#CreatedDate').val('');
        $('#TwitterHandle').val('');
        $('#TweetUrl').val('');
        $('#TweetUrl').attr("disabled",false);
        $('#Text').val('');
        $('#LocationConfidence').val('');
        $('#Geo').val('');
        $('#Area').val('');
        $('#Hide').prop('checked', false);

    }
    function ShowEdit(id) {
        $("#editLoader").hide();
        $("#editForm").show();
        $.get("/api/map/" + id, function (data) {
            $('#editModal').modal('show');
            $('#TweetId').val(data.tweetId);
            $('#Id').val(data.id);
            $('#Img').val(data.img);
            $('#CreatedDate').val(data.createdDate);
            $('#TwitterHandle').val(data.twitterHandle);
            $('#TweetUrl').val(data.tweetUrl);
            $('#TweetUrl').attr("disabled",true);
            $('#Text').val(data.text);
            $('#LocationConfidence').val(data.locationConfidence);
            $('#Geo').val(data.geo);
            $('#Area').val(data.area);
            $('#Hide').prop('checked', data.hide);
        });
    }

    $('#SaveChanges').click(function () {
        var valid = true;
        $('[required]').each(function(i,e) {
            if (!$(e).val())
                valid = false;
        });

        if (valid) {
            $("#editLoader").show();
            $("#editForm").hide();

            if ($('#Id').val()) {
                SaveEdits();
            } else {
                SaveNew();
            }
        }
    });

    function SaveNew() {

        var newPoint =
        {
            "TweetUrl": $('#TweetUrl').val(),
            "area": $('#Area').val(),
            "hide": $('#Hide').is(":checked"),
            "geo": $('#Geo').val().split(","),

            "Id": "0",
            "TweetId": "",
            "CreatedDate": new Date().toISOString(),
            "img": "",
            "LocationConfidence": "",
            "text": "",
            "twitterhandle": "",
        }
        $.ajax({
            url: "/api/map",
            type: "POST",
            headers: {
                "Authorization": "@Model.ApiKey"
            },
            data: JSON.stringify(newPoint),
            contentType: "application/json"
        }).done(function () {
            $('#editModal').modal('hide');
            $('#' + newPoint.id).removeClass().addClass('hide_' + newPoint.hide);
            UpdateImages();
        })
        .fail(function () {
            alert("There has been an error. Unable to save new Tweet.");
        })
    }

    function SaveEdits() {

        var newPoint =
        {
            "Id": $('#Id').val(),
            "TweetId": $('#TweetId').val(),
            "CreatedDate": $('#CreatedDate').val(),
            "img": $('#Img').val(),
            "TweetUrl": $('#TweetUrl').val(),
            "LocationConfidence": $('#LocationConfidence').val(),
            "text": $('#Text').val(),
            "twitterhandle": $('#TwitterHandle').val(),
            "geo": $('#Geo').val().split(","),
            "area": $('#Area').val(),
            "hide": $('#Hide').is(":checked")
        }
        $.ajax({
            url: "/api/map/" + $('#Id').val(),
            type: "PUT",
            headers: {
                "Authorization": "@Model.ApiKey"
            },
            data: JSON.stringify(newPoint),
            contentType: "application/json"
        }).done(function () {
            $('#editModal').modal('hide');
            $('#' + newPoint.id).removeClass().addClass('hide_' + newPoint.hide);
            UpdateImages();
        })
        .fail(function () {
                alert("There has been an error. Unable to save updates.");
        })
    }

    function UpdateImages() {
        $("#LastRefresh").html("loading...");
        
        $("#imageStream").html("");

        $.get("/api/map?getall=true", function (data) {
            var template = $('#previewTemplate').html();
            for (i = 0; i < data.length; i++) {
                var rendered = Mustache.render(template, data[i]);
                $("#imageStream").prepend(rendered);
            }

            $('*[data-editClick="true"]').on("click",
                function () { ShowEdit($(this).attr('id')); }
            );

            $("#LastRefresh").html("Last auto refresh: " + (new Date()).toTimeString());
        }).fail(function () {
            $("#LastRefresh").html("ERROR.  Please refresh page");
        });
    }

    function SetGeo(select) {
        $('#Geo').val($('option:selected', $(select)).attr("geo"));
    }
    </script>
}