@import url("cleanslate.css");
@import url("../node_modules/leaflet/dist/leaflet.css");

$tablet-breakpoint-size: 768px; //tablet
$desktop-breakpoint-size: 1921px; //wide desktop

.map__container {
    position: relative !important;

  .interaction-panel {
    display: none !important;
    position: absolute !important;
    z-index: 10000 !important;
    max-width: 100% !important;
    padding: 1em 0 0 !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background: #EDEDED !important;
    flex-wrap: wrap !important;
    align-content: flex-start !important;
    font-family: 'Varela Round', sans-serif !important;

    &.is-active {
      display: flex !important;
    }

    &__title {
      width: 100% !important;
      margin: 1.5em 0 0.83em 0 !important;
      text-align: center !important;
      color: #254684 !important;
    }

    &__search {
      text-align: center !important;
      width: 100% !important;
      margin: 0em 0 0.83em 0 !important;

      .label-text {
        display: block !important;
        position: static !important;
        width: auto !important;
        color: #254684 !important;
        font-size: 16px !important;
        line-height: 1.5 !important;
        
      }

      input {
        width: 80% !important;
        padding: 10px 2% !important;
        border-radius: 30px !important;
        border: none !important;
        padding: 0.5em !important;
        font-size: 16px !important;
        line-height: 1.5 !important;

        @media (min-width:$tablet-breakpoint-size){
          width: 50% !important;
        }
      }
    }

    &__search-info {
      display: block !important;
      margin: 0.25em 0 0 !important; 
      line-height: 1.5 !important;
      color: #254684 !important;
    }

    &__search-clear {
      background: none !important;
      border: none !important;
      cursor: pointer !important;
    }

    &__tweet-list {
      max-width: 87.5% !important;
      margin: 0 auto !important;
      padding: 0 6.75% !important;
      color: #254684 !important;

      @media (min-width:$tablet-breakpoint-size){
        display:flex !important;
        max-width: none !important;
        flex-wrap: wrap !important;
        justify-content: space-evenly !important;
      }
      
    }

    &__close {
      position: absolute !important;
      top: 1em !important;
      right: 1em !important;
      font-size: 1.5em !important;
      z-index: 1001 !important;
      background: none !important;
      border: none !important;
      cursor: pointer !important;
    }

    &__no-data {
      margin: 0 auto !important;
      color: #254684 !important;
    }
  }

  .tweet-card {
    width: 100% !important;
    margin: 0 0 2.5em 0 !important;
    padding: 0 0 1.5em !important;
    box-shadow: 1px 1px 3px 1px #ccc !important;
    text-align: center !important;
    background: #fff !important;

    @media (min-width:$tablet-breakpoint-size){
      width: 48% !important;
    }

    @media (min-width:$desktop-breakpoint-size){
      width: 30% !important;
    }

    &__image > img {
      width: 100% !important;
      margin: 0 0 1.5625em 0 !important;
      
    }

    &__info {
      display: flex !important;
      padding: 0.5em !important;
      flex-wrap: wrap !important;
      text-align: left !important;
    }

    &__name,
    &__date {
      color: #00b7ef !important;
      margin: 0 0 1em 0 !important;
      flex: 1 1 auto !important;
    }

    &__date {
    }

    &__text {
      margin: 0 0 0.5em 0 !important;
      font-size: 1em !important;
      flex: 0 1 100% !important;
    }

    &__link {
      background: #254684 !important;
      text-transform: uppercase !important;
      color: white !important;
      border-radius: 30px !important;
      padding: 1em 1.35em .85em !important;
      display: inline-block !important;
      -webkit-appearance: none !important;
      border: 1px solid #254684 !important;
      text-decoration: none !important;

      background: #ED008D !important;
      border-color: #ED008D !important;

      &:hover {
        background: #ba006f !important;
        border-color: #ba006f !important;
      }
    }
  }
}

.interactions-panel-close {
  position: absolute !important;
  font-size: 20px !important;
  cursor: pointer !important;
  z-index: 1001 !important;
}

.interaction-image {
  width: 20% !important;
}