[Unit]
Description=The Purple Friday Web Application
Wants=network.service
After=network.service

[Service]
User=purple-friday
Type=simple
ExecStart=/opt/PurpleFridayWebApp/Web.Admin
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
