[Unit]
Description=The Purple Friday Tweet Listener
Wants=PurpleFridayWebApp.service
After=PurpleFridayWebApp.service

[Service]
User=purple-friday
Type=simple
ExecStart=/opt/PurpleFridayTweetListener/PurpleFridayTweetListener
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
