@{
    ViewData["Title"] = "Home Page";
}

<h1>Test Map</h1>

<div id="map" style="width: 600px; height: 400px;"></div>
<script>

	var lastYearsInteractions = [
		{"name": "Highland",
		 "interactions": 12},
		{"name": "Na h-Eileanan Siar",
		 "interactions": 6},
		{"name": "Orkney Islands",
		 "interactions" : 3},
		{"name": "Aberdeenshire",
		 "interactions": 4},
		{"name": "Aberdeen City",
		 "interactions": 12},
		{"name": "Perth and Kinross",
		 "interactions": 13},
		{"name": "Stirling",
		 "interactions": 4},
		{"name": "Fife",
		 "interactions": 15},
		{"name": "Glasgow City",
		 "interactions": 112},
		{"name": "City of Edinburgh",
		 "interactions": 118},
		{"name": "Scottish Borders",
		 "interactions": 26},
	        {"name": "South Ayrshire",
		 "interactions": 18},
		{"name": "Dumfries and Galloway",
		 "interactions": 17}];

	function inside(point, polygon) {
	    // stolen from: https://github.com/substack/point-in-polygon and https://stackoverflow.com/questions/22521982/check-if-point-inside-a-polygon
	    // ray-casting algorithm based on
	    // http://www.ecse.rpi.edu/Homepages/wrf/Research/Short_Notes/pnpoly.html

	    // Had to flip these because of the way we get the data
	    var x = point[1], y = point[0];

	    var inside = false;
	    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {
		var xi = polygon[i][0], yi = polygon[i][1];
		var xj = polygon[j][0], yj = polygon[j][1];

		var intersect = ((yi > y) != (yj > y))
		    && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
		if (intersect) inside = !inside;
	    }

	    return inside;
	};

        function getXmlHttpObject() {
                if (window.XMLHttpRequest) { return new XMLHttpRequest(); }
                if (window.ActiveXObject)  { return new ActiveXObject("Microsoft.XMLHTTP"); }
                return null;
        }

        // set up AJAX request
        ajaxRequest = getXmlHttpObject();
        if (ajaxRequest == null) {
                alert("This browser does not support HTTP Request");
        } else {

                // set up the map
                map = new L.Map('map');

                // create the tile layer with correct attribution
                var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
                var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 10, attribution: osmAttrib});           

                // start the map in South-East England
                map.setView(new L.LatLng(56.8, -4.2),6);
                map.addLayer(osm);

		var geojson;

		function highlightFeature(e) {
		    var layer = e.target;

		    layer.setStyle({
			weight: 3,
			color: '#B266FF',
			fillOpacity: 0.7
		    });

		    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		    }
		}

		function resetHighlight(e) {
		    geojson.resetStyle(e.target);
		}

		function interactionsForLayer(geoJSON) {
			var geometry = geoJSON.geometry;

		    	if (geometry.type == "Polygon") {
			    return interactions.filter(function (interaction) {
				return inside(interaction.geo, geometry.coordinates[0]);
			    });
			} else {
				for (const ploygon of geometry.coordinates) {
					return interactions.filter(function (interaction) {
						for (const polygon of geometry.coordinates) {
							if (inside(interaction.geo, polygon[0]))
								return true;
						}
						return false;
					});
				}
			}
		}

		function showInteractions(e) {
			var interactions = interactionsForLayer(e.target.toGeoJSON());
			var popupString = "";
			if (interactions.length > 0) {
				for (const interaction of interactions) {
					popupString = popupString + "<div><img src=\"" + interaction.img + "\"/><b>" + interaction.twitterHandle + "</b></div>";
				}
				L.popup().setContent(popupString).setLatLng(e.latlng).openOn(map);
			}
		}


		function onEachFeature(feature, layer) {
		    layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			click: showInteractions
		    });
		}

		var interactions;

		function getOpacity(feature) {
			var lastYearsInteractionsForFeature = lastYearsInteractions.find(function (el) { return el.name == feature.properties.name; });
			if (!lastYearsInteractionsForFeature) {
				var requiredInteractions = 1;
			} else {
				var requiredInteractions = lastYearsInteractionsForFeature.interactions;
			}
			var interactions = interactionsForLayer(feature);
			if (interactions.length > (requiredInteractions * 1.5)) {
			  return 0.9;
			} else if (interactions.length > requiredInteractions) {
			  return 0.5;
			} else if (interactions.length > 0) {
			  return 0.2;
		        } else {
			  return 0.01;
			}
		}

		function style(feature) {
			return {
				color: '#4C0099',
				weight: 2,
				opacity: 1,
				fillColor: '#B266FF',
				fillOpacity: getOpacity(feature)
			};
		}

		function handleCouncilAreasRequest() {
			if (ajaxRequest.readyState == 4
			    && ajaxRequest.status == 200) {
			    var councilAreas = JSON.parse(ajaxRequest.responseText);
			    councilAreas.features.shift();
			    geojson = L.geoJson(councilAreas, {style: style, onEachFeature: onEachFeature}).addTo(map);
		    }
		}

		function renderCouncilAreaData() {
			url = "https://statistics.gov.scot/geometry?resource=http://statistics.gov.scot/id/statistical-geography/S92000003&collection=http://statistics.gov.scot/def/foi/collection/council-areas&within=http://statistics.gov.scot/id/statistical-geography/S92000003";
			ajaxRequest.onreadystatechange = handleCouncilAreasRequest;
			ajaxRequest.open('GET', url, true);
			ajaxRequest.send(null);
		}

                function handleInteractionsResponse() {
                        if (ajaxRequest.readyState == 4
                            && ajaxRequest.status == 200) {
                                interactions = JSON.parse(ajaxRequest.responseText);
				renderCouncilAreaData();
                        }
                }

		function fetchInteractions() {
			path = "api/map/";
			ajaxRequest.onreadystatechange = handleInteractionsResponse;
			ajaxRequest.open('GET', path, true);
			ajaxRequest.send(null);
		}

		fetchInteractions();

        }

</script>
